html, body, main {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.text-center {
  flex: 1 1 auto;
  text-align: center;
}

.cursor-pointer {
  cursor: pointer;
}
